.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

textArea {
  resize: none;
  width:200px;
  height:15px;
  border-radius: 10px;
}

textArea:focus {
  border:2px solid rgba(255, 0, 0, 0.5);
}

.submitButton {
  margin-left:30px;
  height:22px;
}

.messageForm {
  display: flex;

}
